header {
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 14px;
  position: fixed;
  z-index: 999;

  .inner-header {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    align-items: center;

    .logo {
      width: 36px;
      height: 36px;
      background: url("../../../assets/logo1.png");
      background-size: 100% 100%;
      transition: all 1s ease-in;
    }

    .logo-active {
      width: 36px;
      height: 36px;
      background: url("../../../assets/logo2.png");
      background-size: 100% 100%;
      transition: all 1s ease;
    }

    .link {
      display: flex;
      align-items: center;
      transition: all 0.8s ease;

      .joinus,
      .redrock {
        height: 34px;
        border-bottom: solid rgba(255, 255, 255, 0) 2px;
        transition: border 0.3s;

        &:hover {
          border-bottom: solid #fff 2px;
        }
      }

      .line {
        height: 16px;
        margin: 0 12px;
        background: #fff;
        transition: all 1s ease;
      }
      .line-active {
        background: #322d98;
        transition: all 1s ease;
      }
    }

    .link-active {
      color: #322d98;

      .joinus,
      .redrock {
        &:hover {
          border-bottom: solid rgba(50, 45, 151, 0.6) 2px;
        }
      }
    }
  }
}
