.title {
  font-size: 5vw;
  color: #2f4ba6;
  display: flex;
  align-items: center;

  .title-right {
    // position: absolute;
    // right: 4%;
    font-size: 3.6vw;
    color: #98a9db;
    display: flex;
    align-items: center;
    
    .small-arrow {
      background: url('../../assets/small-arrow.png');
      background-size: 100% 100%;
      width: 2vw;
      height: 3vw;
      margin-left: 1vw;
    }
  }
}

.line {
  float: left;
  width: 1.2vw;
  height: 4.3vw;
  border-radius: 3vw;
  background: #f94141;
  margin-right: 3vw;
}

.copywriting {
  margin-top: 3vw;
  font-size: 4vw;
  color: #5d71b0;
  line-height: 6vw;
  letter-spacing: .2vw;
}

.card {
  width: 78vw;
  height: 92vw;
  border-radius: 2vw;
  box-shadow: 0px 2px 6px 1px rgba(26, 26, 26, 0.1);
}

.slide-carousel {
  width: 84vw;
  margin-top: 7vw;

  div {
    outline: none;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-dots {
    position: absolute;
    bottom: -10vw;
    left: 4vw;
  }

  button::before {
    content: '' !important;
  }

  .slick-dots li button {
    background: url('../../assets/dot.png');
    background-size: 100% 100%;
    height: 10px;
    width: 10px;
    transition: all .3s ease;
  }

  .slick-dots li.slick-active button {
    background: url('../../assets/dot-active.png');
    background-size: 100% 100%;
    height: 10px;
    width: 20px;
  }

  .slick-dots li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.se-title {
  font-size: 4.6vw;
  color: #2f4ba6;
}

.flex-center {
  display: flex;
  align-items: center;
}