.product {
  background: #fafafa;

  .inner-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 140px;

    .intro {
      color: #7f7f7f;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
    }

    .carousel {
      width: 1000px;
      margin: 0 auto;
      margin-top: 15px;
      cursor: pointer;

      div {
        outline: none;
      }

      .card {
        width: 480px;
        height: 340px;

        .inner-card {
          width: 460px;
          height: 300px;
          position: relative;
          left: 20px;
          top: 20px;
          border-radius: 5px;
          background: #fff;
          box-shadow: 0px 2px 6px 1px rgba(26, 26, 26, .1);

          .picture {
            width: 100%;
            height: 165px;
            overflow: hidden;
            border-radius: 5px 5px 0 0;

            img {
              height: 170px;
            }
          }

          .copywriting {
            width: 85%;
            height: 135px;
            margin: 0 auto;
            
            .product-title {
              text-align: center;
              color: #322d98;
              font-size: 18px;
              margin-top: 13px;
            }

            .subtitle {
              text-align: center;
              color: #847dc7;
              font-size: 14px;
              margin-top: 3px;
            }

            .product-intro {
              color: #847dc7;
              font-size: 14px;
              margin-top: 8px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }

  .slick-dots {
    position: relative;
    top: 30px;
  }
  .slick-dots li.slick-active button:before {
    color: #9766d0;
    opacity: 1;
  }
  .slick-dots li button::before {
    color: #cacaca;
    opacity: 1;
  }
  .button {
    width: 22px;
    height: 36px;
    position: absolute;
    z-index: 999;
    top: 150px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
  .prev {
    left: -35px;
    background: url('../../../assets/left2.png');
    background-size: 100% 100%;
  }
  .next {
    right: -30px;
    background: url('../../../assets/right2.png');
    background-size: 100% 100%;
  }
}