.destination {
  background: #fafafa;

  .carousel {
    width: 1000px;
    position: relative;
    top: 160px;
    cursor: pointer;

    div {
      outline: none;
    }

    .card {
      width: 400px;
      height: 450px;
      position: relative;
      left: 50px;

      .row {
        width: 100%;
        height: 37.5px;
        display: flex;
        align-items: center;
      }

      .year {
        color: #f27f7f;
        font-size: 15px;
      }

      .line {
        width: 3px;
        height: 12px;
        background: #fb4d4d;
        border-radius: 6px;
        margin-right: 12px;
      }

      .member {
        justify-content: space-between;
        color: #666666;
        font-size: 15px;
      }
    }
  }

  .button {
    width: 22px;
    height: 36px;
    position: absolute;
    z-index: 999;
    top: 190px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
  .prev {
    left: -35px;
    background: url('../../../assets/left2.png');
    background-size: 100% 100%;
  }
  .next {
    right: -30px;
    background: url('../../../assets/right2.png');
    background-size: 100% 100%;
  }
  .slick-dots {
    position: relative;
    top: 30px;
  }
  .slick-dots li.slick-active button:before {
    color: #9766d0;
    opacity: 1;
  }
  .slick-dots li button::before {
    color: #cacaca;
    opacity: 1;
  }
}